%%-*- mode: erlang -*-
%% ex: ft=erlang

#{
tns => <<"(DESCRIPTION=(ADDRESS_LIST=(ADDRESS="
         "(PROTOCOL=tcp)(HOST=127.0.0.1)(PORT=1521)))"
         "(CONNECT_DATA=(SERVICE_NAME=XE)))">>,
user => <<"scott">>,
password => <<"tiger">>,
logging => true,
lang => "GERMAN_SWITZERLAND.AL32UTF8",
ssh_ip => "127.0.0.1",
ssh_port => 22,
ssh_user => "user",
ssh_password => "password"
}.
