{tns, <<"(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)
                      (HOST=localhost)
                      (PORT=1521))
                      (CONNECT_DATA=(SERVER = DEDICATED)
                      (SERVICE_NAME=XE)))">>}.
{user, <<"hr">>}.

{tns, <<"(DESCRIPTION=(ADDRESS_LIST=(ADDRESS="
                "(PROTOCOL=tcp)(HOST=80.67.144.206)(PORT=5437)))"
                "(CONNECT_DATA=(SERVICE_NAME=XE)))">>}.
{user, <<"scott">>}.
{password, <<"regit">>}.
{nls_lang, "GERMAN_SWITZERLAND.AL32UTF8"}.
