.eunit/
ipch/
*.sdf
*.XML
*.xml
priv/
c_src/*.txt
c_src/lib/instantclient/
c_src/lib/instantclient/*.so
c_src/lib/instantclient/*.lib
c_src/lib/instantclient/lib*.*
*.dep
*.pdb
*.idb
*.pch
*.o
*.log
*.obj
c_src/Debug/
c_src/Stub/Debug/
*.ncb
*.suo
*.sln.cache
c_src/x64/
c_src/*/x64/
*.user
*.filters
*.beam
*.exe
*.manifest
*.swp
*.config
*.app
priv/*.ilk
priv/*.pdb
priv/*.lib
*.htm
*.res
Readme.txt
*.dump
*.so.*
*.so
tags
