{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.

% "_build/test/cover/ct.coverdata",
{coveralls_coverdata, [
    "_build/test/cover/eunit.coverdata"
]}.
{coveralls_service_name, "travis-ci"}.

{ct_cover, true}.
{ct_verbose, true}.

{eunit_opts, [{skip_deps, true}, verbose]}.

{pre_hooks,
 [{"win32",  compile, "nmake /F c_src/Makefile.mak all conf=Release"},
  {"win32",  clean,   "nmake /F c_src/Makefile.mak clean conf=Release"},
  {"linux",  compile, "make -f c_src/Makefile"},
  {"linux",  clean,   "make -f c_src/Makefile clean"},
  {"darwin", compile, "make -f c_src/Makefile.osx"},
  {"darwin", clean,   "make -f c_src/Makefile.osx clean"}
 ]}.

{profiles, [
    {test, [
        {plugins, [
            {coveralls, {git, "https://github.com/markusn/coveralls-erl", {branch, "master"}}},
            {geas_rebar3, {git, "https://github.com/crownedgrouse/geas_rebar3.git", {branch, "master"}}}
        ]}
    ]}
]}.

