{cover_enabled, true}.
{cover_excl_mods, [jsonpath_lex, jpparse]}.

{ct_cover, true}.
{ct_verbose, true}.

{dialyzer_plt_location, local}.
{dialyzer_warnings, [error_handling,
    overspecs,
    race_conditions,
    specdiffs,
    underspecs,
    unknown,
    unmatched_returns
]}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.

{pre_hooks, [{"win32",  compile, "if not exist \"priv\" mkdir priv && "
"nmake /F c_src/Makefile.mak all conf=Debug"},
    {"win32",  clean,   "del priv\\*.lib priv\\*.dll priv\\*.exe /f /q && "
    "nmake /F c_src/Makefile.mak clean conf=Debug"},
    {"linux",  compile, "mkdir -p priv && make -f c_src/Makefile"},
    {"linux",  clean,   "make -f c_src/Makefile clean"},
    {"darwin", compile, "mkdir -p priv && make -f c_src/Makefile.osx"},
    {"darwin", clean,   "make -f c_src/Makefile.osx clean"}
]}.

{src_dirs, [
    "src",
    "test"
]}.
