{cover_enabled, true}.
{cover_excl_mods, [jsonpath_lex, jpparse]}.

{ct_cover, true}.
{ct_verbose, true}.

{dialyzer_plt_location, local}.
{dialyzer_warnings, [error_handling,
    overspecs,
    race_conditions,
    specdiffs,
    underspecs,
    unknown,
    unmatched_returns
]}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.

{pre_hooks, [{"win32",  compile, "nmake /F c_src/Makefile.mak all conf=Release"},
    {"win32",  clean,   "nmake /F c_src/Makefile.mak clean conf=Release"},
    {"linux",  compile, "make -f c_src/Makefile"},
    {"linux",  clean,   "make -f c_src/Makefile clean"},
    {"darwin", compile, "make -f c_src/Makefile.osx"},
    {"darwin", clean,   "make -f c_src/Makefile.osx clean"}
]}.
